body {
    font-family: Arial, sans-serif;
    background-color: #A7E6FF;
    color: #050C9C;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #3572EF;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="file"] {
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #3572EF;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #050C9C;
}

p {
    color: #050C9C;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    textarea {
        font-size: 14px;
    }

    input[type="submit"] {
        width: 100%;
        padding: 15px;
    }
}
